@import "imports/variables.css";
@import "imports/ress.css";
@import "imports/header.css";
@import "imports/footer.css";
@import "imports/form.css";
@import "imports/create.css";
@import "imports/post.css";
@import "imports/edit.css";
@import "imports/singlePost.css";

.sp-main {
  margin-left: 2rem;
  margin-right: 2rem;
}

.page-title {
  font-family: var(--font-vollkorn);
  font-size: 2.8rem;
  color: var(--font-blue);
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.main-visual {
  margin-top: 5.6rem;
}

.main-left {
  margin-bottom: 5.6rem;
  text-align: center;

  h1 {
    font-family: var(--font-vollkorn);
    font-size: 6.4rem;
    color: var(--font-blue);
    margin-bottom: 0.8rem;
  }

  .sub-text {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

.main-right {
  h2 {
    font-family: var(--font-vollkorn);
    font-size: 2.8rem;
    color: var(--font-blue);
    font-style: italic;
    text-align: center;
    margin-bottom: 1.6rem;
  }
}

.carousel {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-button {
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--bg-light);
  text-align: center;
  border-radius: 5rem;

  i {
    font-size: 1.2rem;
    color: var(--font-black);
  }
}

.latest {
  width: 80%;
  background-color: var(--bg-light);
  border-radius: 5px;
}

.filter {
  margin-top: 3.2rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    margin-bottom: 1.6rem;
  }

  .tag-button {
    font-size: 1.6rem;
    color: var(--font-blue);
    border: solid 1px var(--font-blue);
    padding: 0.5rem 1.6rem;
    border-radius: 5rem;
  }

  .reset {
    font-size: 1.6rem;
    color: var(--font-blue);
    text-decoration: underline;
    width: 100%;
    text-align: center;
  }

  .sort {
    display: flex;
    justify-content: flex-end;
    margin: 4.8rem 0 1.6rem 0;

    .sort-icon {
      margin-right: 0.5rem;
    }

    .sort-button {
        display: block;
        text-wrap: nowrap;
        color: var(--font-blue);
        border: solid 1px var(--font-blue);
        font-size: 1.6rem;
        padding: 0.5rem 1.6rem;
      }

      .sort-active {
        color: white;
        background-color: var(--font-blue);
      }
  }
}

.tag-button:focus {
  color: white;
  background-color: var(--font-blue);
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.post-container {
  display: block;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: fill;
  border-radius: 7px 7px 0 0;
}

.post-text-container {
  padding: 1.6rem 0rem 3.2rem 0rem;
}

.post-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.6rem;
  margin-bottom: 1rem;

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
  }

  .tag-item {
    font-size: 1.4rem;
    color: var(--font-blue);
    font-weight: 500;
    border: solid 1px var(--font-blue);
    border-radius: 5rem;
    padding: 0 1.6rem;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .date-container {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    color: #696f7e;
  }

  .calendar-icon {
    font-size: 1.2rem;
  }

  .post-date {
    font-size: 1.4rem;
  }
}

.post-title {
  font-family: var(--font-cormorant);
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--font-black);
}

.pagination {
  padding: 0 12.8rem;
  margin-top: 6.4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.page-button {
  width: 3.2rem;
  height: 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--font-blue);
  background-color: var(--bg-light);
  border-radius: 5rem;
}

.current-page {
  color: white;
  background-color: var(--font-blue);
}

@media screen and (min-width: 1024px) {
  .sp-main {
    margin-left: 0;
    margin-right: 0;
  }
  .page-title {
    font-size: 4rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
  }

  .main-visual {
    display: flex;
    padding: 0 12.8rem 0 15.2rem;
  }

  .main-left {
    width: 40%;
    margin-bottom: 0;
    text-align: left;

    h1 {
      font-size: 13.6rem;
      margin-bottom: 1.6rem;
    }

    .sub-text {
      width: 100%;
    }
  }

  .main-right {
    width: 60%;
    h2 {
      font-size: 4.8rem;
      margin: 1.6rem 0;
    }
  }

  .carousel {
    gap: 1.6rem;
  }

  .carousel-button {
    width: 4rem;
    height: 4rem;

    i {
      font-size: 1.6rem;
    }
  }

  .latest {
    width: 60%;
  }

  .filter {
    margin-top: 12.8rem;
    margin-bottom: 7.2rem;
    padding: 0 12.8rem;
    display: flex;
    align-items: flex-start;
    gap: 4.8rem;

    .tags-container {
      display: flex;
      align-items: flex-end;
      gap: 1.6rem;
    }

    ul {
      gap: 0.8rem;
      margin-bottom: 0rem;
    }

    .reset {
      width: auto;
      text-wrap: nowrap;
    }

    .sort {
      margin: 0;

      .sort-icon {
        cursor: auto;
      }
      
    }
  }

  .feed {
    padding: 0 12.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.4rem;
  }

  .post-container {
    position: relative;
    cursor: pointer;
  }

  figure {
    aspect-ratio: 3/2;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }

  .thumbnail {
    aspect-ratio: 3/2;
    border-radius: 5px 5px 0 0;
    transition: all 0.5s ease;
  }

  .post-container:hover .thumbnail {
    transform: scale(1.1);
  }

  .post-text-container {
    padding: 1.2rem 1.6rem 3.2rem 1.6rem;
  }

  .post-title {
    font-size: 2.3rem;
    line-height: 1.2;
  }
}
