@import "imports/variables.css";
@import "imports/ress.css";
@import "imports/header.css";
@import "imports/footer.css";
@import "imports/form.css";

.page-title {
  font-family: var(--font-vollkorn);
  font-size: 2.8rem;
  color: var(--font-blue);
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 1024px) {

  .page-title {
    font-size: 4rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
  }

}