.form-container {
  background-color: var(--bg-light);
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  & form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  & input {
    background-color: white !important;
    padding: 1.6rem;
    border-radius: 4px;
    font-size: 1.6rem;
  }

  & input::placeholder {
    color: #696f7e;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

.form-btn {
  background-color: var(--font-blue);
  color: white;
  border-radius: 4px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 1.3rem 0;
  margin-top: 4rem;
  width: 100%;
  border: solid 3px var(--font-blue);
}

.to-register {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2.4rem;
  display: inline;
}

.register-link {
  margin-left: 5px;
  font-weight: 600;
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .form-container {
    width: 38%;
    margin: 0 auto;
    padding: 6.4rem 7.2rem;

    & form {
      gap: 2.4rem;
    }
  }

  .form-btn {
    margin: 4.8rem auto 0 auto;
    width: 45%;
    transition: all 0.3s;
  }

  .form-btn:hover {
    background-color: white;
    color: var(--font-blue);
  }
}
